{% extends "layouts/base.html" %}
{% block content %}

<section id="intro">
  <div class="container">
    <h2>Hyperstatic</h2>
    <p>Lorem ipsum <a href="">test</a> sit amet, consectetur <code>adipisicing</code> elit. Itaque officia vitae, velit ab nostrum aliquid earum <i>quam</i> eligendi. Quia, tempora voluptatum, sed dolores in asperiores velit quos commodi aspernatur doloribus.</p>
    <pre>some code
    line 2</pre>
    
    <a href="#" class="top-anchor">Top</a>
  </div>
</section>
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="four columns">
        <img src="assets/images/mobile.jpg" alt="" >
      </div>
      <div class="eight columns">
        <h2>Fast</h2>
        <p>Lorem ipsum dolor sit amet, consectetur <code>adipisicing</code> elit. Itaque officia vitae, velit ab nostrum aliquid earum <i>quam</i> eligendi. Quia, tempora voluptatum, sed dolores in asperiores velit quos commodi aspernatur doloribus.</p>
        <pre>some code</pre>
        <a href="#" class="top-anchor">Top</a>
      </div>
    </div>
    <div class="clearfix"></div>

    
  
  </div>
</section>
    

{% endblock %}