{% extends "layouts/base.html" %}
{% block content %}

<header class="jumbo">
  <div class="container">
    <img src="assets/images/diamond.svg" alt="Hyperstatic" class="logo">
    <h1>Hyperstatic</h1>
    <a href="#info">Home</a>
    <a href="#info">Installation</a>
  </div>
</header>

<section id="intro">
  <div class="container">
    <h2>Hyperstatic</h2>
    <p>Lorem ipsum dolor sit amet, consectetur <code>adipisicing</code> elit. Itaque officia vitae, velit ab nostrum aliquid earum <i>quam</i> eligendi. Quia, tempora voluptatum, sed dolores in asperiores velit quos commodi aspernatur doloribus.</p>
    <pre>some code</pre>
    <a href="#" class="top-anchor">Top</a>
  </div>
</section>
<section id="intro">
  <div class="container">
    <h2>Hyperstatic</h2>
    <p>Lorem ipsum dolor sit amet, consectetur <code>adipisicing</code> elit. Itaque officia vitae, velit ab nostrum aliquid earum <i>quam</i> eligendi. Quia, tempora voluptatum, sed dolores in asperiores velit quos commodi aspernatur doloribus.</p>
    <pre>some code</pre>
    <a href="#" class="top-anchor">Top</a>
  </div>
</section>
    

{% endblock %}