<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hyperstatic</title>
  <link rel="stylesheet" href="/style.css">
  <base href="{{base_href}}">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
</head>
<body>
  <header class="jumbo">
    <div class="container">
      <img src="/diamond.svg" alt="Hyperstatic" class="animated fadeInDown logo">
      <h1>Hyperstatic</h1>
      <a href="/">Home</a>
      <a href="/installation.html">Installation</a>
      <a href="https://github.com/radenkovic/hyperstatic">Github</a>
    </div>
  </header>
  {% block content %}
  {% endblock %}
  <footer>
    <div class="container">
      <div class="row">
        &copy; 2017. Dan Radenkovic<br>
        <a href="http://github.com/radenkovic">radenkovic.github.com</a>
      </div>      
    </div>
  </footer>
  <script src="/bundle.js"></script>
</body>
</html>