<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hyperstatic</title>
  <link rel="stylesheet" href="assets/style.css">

  <link rel="icon" type="image/png" sizes="16x16" href="references/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="references/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="references/favicon-96x96.png">

</head>
<body>
  <header class="jumbo">
    <div class="container">
      <img src="assets/images/diamond.svg" alt="Hyperstatic" class="logo">
      <h1>Hyperstatic</h1>
      <a href="/">Home</a>
      <a href="/installation.html">Installation</a>
      <a href="https://github.com/radenkovic/hyperstatic">Github</a>
    </div>
  </header>
  {% block content %}
  {% endblock %}
  <script src="assets/bundle.js"></script>
</body>
</html>