// Modules
@import 'variables';
@import 'jumbo';
@import 'grid';

// Typography
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'typography';


body { 
  font-family: 'Roboto';
  margin: 0; 
  padding: 0;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  font-size: 15px;
  color: $text;
  overflow-y: scroll;
}

.container {
  margin: auto;
  box-sizing: border-box;
  max-width: 640px;
  border-radius: 3px;
  padding: 0 1.5rem;
}


.top-anchor {
  font-size: 14px;
  border:0;
  
  &:before {
    content: '↥';
    transition: 0.3s color;
    font-size: 14px;
    margin-right: 3px;
    color: $text-light;
  }
  &:hover {
    &:before {
      color: $primary;
    }
  }
}

section {
  box-sizing: border-box;
  border-bottom: 1px solid $text-border;
  padding: 6rem 0;

}

img {
  max-width: 100%;
}

.clearfix {
  display: block;
  clear: both;
}

footer {
  .logo {
    display: block;
    float: left;
    margin-right: 1rem;
    width: 38px;
  }
  font-size: 13px;
  padding: 1rem 0;
  
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

.animated {
  animation-duration: .8s;
  animation-fill-mode: both;
}


