// Modules
@import 'variables';
@import 'jumbo';
@import 'grid';

// Typography
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'typography';


body { 
  font-family: 'Roboto';
  margin: 0; 
  padding: 0;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  font-size: 15px;
  color: $text;
  overflow-y: scroll;
}

.container {
  margin: auto;
  box-sizing: border-box;
  max-width: 640px;
  border-radius: 3px;
  padding: 0 1.5rem;
}

$text-light: rgba(0,0,0,0.3);
$text-border: rgba(0,0,0,0.1);

.top-anchor {
  font-size: 14px;
  &:before {
    content: '⇡';
    font-size: 14px;
    margin-right: 3px;
    color: $text-light;
  }
}

section {
  box-sizing: border-box;
  border-bottom: 1px solid $text-border;
  padding: 6rem 0;

}

img {
  max-width: 100%;
}

.clearfix {
  display: block;
  clear: both;
}


